@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

:root {
    --medical-blue: #0056b3;
    --clinical-navy: #002D62;
    --sanitizing-teal: #E0F2F1;
}

body { 
    font-family: 'Inter', sans-serif; 
    margin: 0; 
    padding: 0; 
    background-color: #fcfdfe; 
}

.medical-blue { color: var(--medical-blue); }
.bg-medical-blue { background-color: var(--medical-blue); }
.border-medical-blue { border-color: var(--medical-blue); }

.glass-panel {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
